.badge-outline-success {
    color: #28a745;
    border: 1px solid #28a745;
    background-color: transparent;
  }
  
  .badge-outline-warning {
    color: #ffc107;
    border: 1px solid #ffc107;
    background-color: transparent;
  }
  